Repository tronbyt/server: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-mod-tidy, go-test

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

go-mod-tidy:
  name: go mod tidy
  entry: go mod tidy
  language: system
  pass_filenames: false

go-test:
  name: go test
  entry: go test ./...
  language: system
  pass_filenames: false

test: Refactor user import fix test to use testify library
  GEMINI.md
  internal/server/handlers_user_import_fix_test.go
Due: go-fmt, go-test

fix(ui) fix flash messages being too tall
  web/static/css/style.css
  web/templates/base.html
Due: none

fix: Refactor user import to explicitly insert apps individually
  internal/server/handlers_user.go
  internal/server/handlers_user_import_fix_test.go
Due: go-fmt, go-test

ci: optimize docker build with caching and native cross-compilation
  .github/workflows/build.yml
  .github/workflows/publish.yml
  Dockerfile
Due: none

ci: refactor linting into dedicated job parallel to build matrix
  .github/workflows/build.yml
Due: none

feat: track and display last successful render time for apps
  internal/data/models.go
  internal/server/handlers_user.go
  internal/server/handlers_user_import_fix_test.go
  internal/server/render_utils.go
  web/templates/auth/edit.html
  web/templates/auth/login.html
  web/templates/manager/adminindex.html
  web/templates/manager/create.html
  web/templates/manager/firmware.html
  web/templates/manager/update.html
  web/templates/partials/app_card.html
Due: go-fmt, go-test

Refactor app thumbnails to support user apps and fix 2x detection
  .air.toml
  internal/apps/apps.go
  internal/server/handlers_app.go
  internal/server/handlers_app_test.go
  internal/server/server.go
  web/static/js/theme.js
  web/templates/partials/app_list_grid.html
Due: go-fmt, go-test

fix: handle blank email addresses
  cmd/server/main.go
Due: go-fmt, go-test

feat: add name support for WebAuthn passkeys
  internal/data/models.go
  internal/server/webauthn.go
  web/templates/auth/edit.html
Due: go-fmt, go-test

feat: improve passkey UX with smart naming and icons
  go.mod
  go.sum
  internal/server/funcmap.go
  internal/server/handlers_user.go
  internal/server/webauthn.go
  web/static/css/base.css
  web/templates/auth/edit.html
Due: go-fmt, go-mod-tidy, go-test

chore: apply go:fix
  internal/server/funcmap.go
Due: go-fmt, go-test

chore: fix image container in the manager list view (app list view)
  web/static/css/manager.css
Due: none

catch email="none" during migration etc.
  cmd/server/main.go
  docker-compose.dev.yaml
  internal/legacy/converter.go
Due: go-fmt, go-test

hard code device types for better ordering.
  web/templates/manager/create.html
  web/templates/manager/update.html
Due: none

use slice instead
  web/templates/manager/create.html
  web/templates/manager/update.html
Due: none

initial pass
  internal/server/handlers_device.go
  internal/server/helpers.go
  web/i18n/de.json
  web/i18n/en.json
  web/templates/manager/create.html
Due: go-fmt, go-test

ensure user supplied device_id is safe string
  internal/server/handlers_device.go
Due: go-fmt, go-test

hard code device types for better ordering. (#641)
  web/templates/manager/create.html
  web/templates/manager/update.html
Due: none

allow user specify device_id on creation. (#642)
  internal/server/handlers_device.go
  internal/server/helpers.go
  web/i18n/de.json
  web/i18n/en.json
  web/templates/manager/create.html
Due: go-fmt, go-test

Apply suggestion from @gemini-code-assist[bot]
  web/static/js/manager.js
Due: none

feat(dev): enable hot reloading and cache optimization when using docker-compose.dev
  Dockerfile
  docker-compose.dev.yaml
Due: none

build: remove `@latest` tag from `air` installation command.
  Dockerfile
Due: none

refactor: update `air` command to `go tool air` and remove explicit `air` installation in development Dockerfile.
  Dockerfile
Due: none

refactor: Address PR feedback for DeviceType enum
  internal/data/models.go
  internal/legacy/converter.go
  internal/migration/migration.go
  internal/server/handlers_device.go
  internal/server/helpers.go
  web/templates/manager/create.html
  web/templates/manager/update.html
Due: go-fmt, go-test

refactor: Simplify DeviceType enum handling and remove unnecessary migration
  cmd/server/main.go
  internal/data/models.go
  internal/migration/migration.go
  internal/server/handlers_device.go
  internal/server/helpers.go
  web/templates/manager/create.html
  web/templates/manager/firmware.html
  web/templates/manager/update.html
Due: go-fmt, go-test

refactor: Further simplify DeviceType.Scan
  internal/data/models.go
Due: go-fmt, go-test

refactor: Use slugs for DeviceType in web forms and handlers
  internal/server/handlers_device.go
  internal/server/handlers_device_test.go
  web/templates/manager/create.html
  web/templates/manager/update.html
Due: go-fmt, go-test

Path conditions:
  go-fmt: any of: \.go$
  go-mod-tidy: any of: go.mod|go.sum
  go-test: any of: \.go$
