Repository tronbyt/server: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-mod-tidy, go-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: go-fmt
        name: go fmt
        entry: gofmt -w
        language: system
        types: [go]
      - id: go-mod-tidy
        name: go mod tidy
        entry: go mod tidy
        language: system
        files: "go.mod|go.sum"
        pass_filenames: false
      - id: go-test
        name: go test
        entry: go test ./...
        language: system
        types: [go]
        pass_filenames: false
  - repo: https://github.com/golangci/golangci-lint
    rev: v2.7.2
    hooks:
      - id: golangci-lint
  - repo: https://github.com/djlint/djLint
    rev: v1.36.4
    hooks:
      - id: djlint-reformat-golang
        files: "\\.html"
        types_or: ["html"]

fix pr lint failures
  internal/data/models.go
Due: go-fmt, go-test

fix pr lint failures
  internal/data/models.go
  internal/server/handlers_device.go
Due: go-fmt, go-test

fix djlint failures
  web/templates/base.html
  web/templates/manager/addapp.html
  web/templates/manager/device_tv.html
  web/templates/manager/firmware.html
  web/templates/manager/index.html
  web/templates/manager/update.html
  web/templates/partials/app_card.html
  web/templates/partials/app_list_grid.html
  web/templates/partials/device_card.html
  web/templates/settings/account.html
  web/templates/settings/admin.html
  web/templates/settings/content.html
Due: none

feat(auth): add OpenID Connect (OIDC) support
  go.mod
  go.sum
  internal/config/config.go
  internal/data/models.go
  internal/server/admin.go
  internal/server/auth.go
  internal/server/helpers.go
  internal/server/oidc.go
  internal/server/server.go
  web/i18n/de.json
  web/i18n/en.json
  web/templates/admin/settings.html
  web/templates/auth/edit.html
  web/templates/auth/login.html
Due: go-fmt, go-mod-tidy, go-test

debug: add detailed logging for OIDC session issues
  internal/server/oidc.go
Due: go-fmt, go-test

fix: pass nonce to OIDC provider in auth URL
  internal/server/oidc.go
Due: go-fmt, go-test

Fix reading pushed app webps
  internal/server/handlers_device_api_test.go
  internal/server/rotation.go
  internal/server/websockets_test.go
Due: go-fmt, go-test

feat: manual OIDC account linking
  cmd/server/serve/cmd.go
  internal/server/auth.go
  internal/server/oidc.go
  web/i18n/de.json
  web/i18n/en.json
  web/templates/auth/edit.html
  web/templates/auth/login.html
Due: go-fmt, go-test

fix: address code review findings and remove unused code
  internal/server/oidc.go
Due: go-fmt, go-test

fix: use global localizer scope for OIDC unlink actions
  web/templates/auth/edit.html
Due: none

fix button brightness in dark mode
  web/static/css/manager.css
  web/static/css/style.css
Due: none

Fix linting issues in Go and HTML templates
  internal/server/admin.go
  web/templates/settings/admin.html
Due: go-fmt, go-test

chore: bump deps
  go.mod
  go.sum
Due: go-mod-tidy

Make OIDC settings collapsible in admin UI
  web/templates/settings/admin.html
Due: none

Refine OIDC settings toggle UI and state management
  web/static/css/settings-framework.css
  web/templates/settings/admin.html
Due: none

Simplify OIDC settings UI with subtle text toggle
  web/static/css/settings-framework.css
  web/templates/settings/admin.html
Due: none

Document new modern design system for settings framework
  DESIGN_SYSTEM.md
Due: none

UI styling overhaul; sleep and dim mode toggles (#794)
  .gitignore
  DESIGN_SYSTEM.md
  internal/data/models.go
  internal/data/models_test.go
  internal/server/admin.go
  internal/server/auth.go
  internal/server/handlers_api.go
  internal/server/handlers_api_test.go
  internal/server/handlers_device.go
  internal/server/handlers_device_test.go
  internal/server/handlers_system.go
  internal/server/handlers_user.go
  internal/server/handlers_user_test.go
  internal/server/helpers.go
  internal/server/night_mode.go
  internal/server/server.go
  web/static/css/addapp-simple.css
  web/static/css/base.css
  web/static/css/common.css
  web/static/css/manager.css
  web/static/css/settings-framework.css
  web/static/css/style.css
  web/static/js/manager.js
  web/templates/base.html
  web/templates/manager/addapp.html
  web/templates/manager/device_tv.html
  web/templates/manager/firmware.html
  web/templates/manager/index.html
  web/templates/manager/update.html
  web/templates/partials/app_card.html
  web/templates/partials/app_list_grid.html
  web/templates/partials/device_card.html
  web/templates/settings/account.html
  web/templates/settings/admin.html
  web/templates/settings/content.html
Due: go-fmt, go-test

chore(web): use the OS system font
  web/static/css/style.css
  web/templates/base.html
Due: none

add system font preference
  internal/data/models.go
  internal/server/auth.go
  web/i18n/de.json
  web/i18n/en.json
  web/static/css/style.css
  web/static/js/theme.js
  web/templates/base.html
  web/templates/settings/account.html
Due: go-fmt, go-test

add system font preference
  web/static/js/theme.js
  web/templates/settings/account.html
Due: none

add system font preference
  web/i18n/de.json
  web/i18n/en.json
  web/templates/settings/account.html
Due: none

add system font preference
  web/templates/settings/account.html
Due: none

chore(web): use the OS system font (#798)
  web/static/css/style.css
  web/templates/base.html
Due: none

Fix translations
  web/i18n/de.json
  web/i18n/en.json
Due: none

allow for API pushed app deletion based on installationID
  internal/server/handlers_api.go
  internal/server/handlers_api_test.go
Due: go-fmt, go-test

delete pushed webps on delete.
  internal/server/handlers_api.go
Due: go-fmt, go-test

allow for API pushed app deletion based on installationID (#801)
  internal/server/handlers_api.go
  internal/server/handlers_api_test.go
Due: go-fmt, go-test

feat: make port selection for Alt-Svc header configurable
  cmd/server/serve/http.go
  internal/config/config.go
Due: go-fmt, go-test

Update App metadata sorting
  internal/apps/apps.go
  web/i18n/de.json
  web/i18n/en.json
  web/static/js/manager.js
  web/templates/partials/app_list_grid.html
Due: go-fmt, go-test

Update App metadata sorting (#804)
  internal/apps/apps.go
  web/i18n/de.json
  web/i18n/en.json
  web/static/js/manager.js
  web/templates/partials/app_list_grid.html
Due: go-fmt, go-test

hanlde preview calls for pushed apps properly
  internal/server/handlers_api.go
  internal/server/handlers_app.go
  web/templates/manager/configapp.html
  web/templates/partials/app_card.html
Due: go-fmt, go-test

display image and installationID for pushed apps
  internal/server/funcmap.go
  internal/server/handlers_app.go
  web/templates/manager/configapp.html
  web/templates/partials/app_card.html
Due: go-fmt, go-test

secure path
  internal/server/handlers_api.go
Due: go-fmt, go-test

use securejoin for paths with installationID
  internal/server/handlers_api.go
  internal/server/handlers_app.go
  internal/server/rotation.go
Due: go-fmt, go-test

for pushed apps don't call saveImage, no need.
  internal/server/handlers_app.go
Due: go-fmt, go-test
