Repository tronbyt/server: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-mod-tidy, go-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: go-fmt
        name: go fmt
        entry: gofmt -w
        language: system
        types: [go]
      - id: go-mod-tidy
        name: go mod tidy
        entry: go mod tidy
        language: system
        files: "go.mod|go.sum"
        pass_filenames: false
      - id: go-test
        name: go test
        entry: go test ./...
        language: system
        types: [go]
        pass_filenames: false
  - repo: https://github.com/golangci/golangci-lint
    rev: v2.7.2
    hooks:
      - id: golangci-lint
  - repo: https://github.com/djlint/djLint
    rev: v1.36.4
    hooks:
      - id: djlint-reformat-golang
        files: "\\.html"
        types_or: ["html"]

Fix/ws wait for displaying ack (#884)
  aigenmd/WEBSOCKET_PROTOCOL.md
  internal/server/websockets.go
Due: go-fmt, go-test

fix: validate the whole installation update before applying any of it
  internal/server/handlers_api.go
  internal/server/handlers_api_test.go
Due: go-fmt, go-test

fix: commit the installation update before deleting its renders
  internal/server/handlers_api.go
  internal/server/handlers_api_test.go
Due: go-fmt, go-test

fix: treat an installation name as untrusted when cleaning up renders
  internal/server/handlers_api.go
  internal/server/handlers_api_test.go
Due: go-fmt, go-test

feat: expose app config and render fields via the installations API (#886)
  API.md
  internal/server/handlers_api.go
  internal/server/handlers_api_test.go
  internal/server/helpers.go
Due: go-fmt, go-test

add rpi install script to readme
  README.md
Due: none

fix: avoid GitHub API rate limits when downloading firmware
  cmd/server/serve/cmd.go
  internal/server/firmware.go
  internal/server/handlers_system.go
Due: go-fmt, go-test

test for actual firmware file before saving.
  internal/firmware/firmware.go
  internal/firmware/firmware_test.go
  internal/server/firmware.go
  internal/server/firmware_test.go
  internal/server/server.go
Due: go-fmt, go-test

fix: avoid GitHub API rate limits when downloading firmware (#893)
  cmd/server/serve/cmd.go
  internal/firmware/firmware.go
  internal/firmware/firmware_test.go
  internal/server/firmware.go
  internal/server/firmware_test.go
  internal/server/handlers_system.go
  internal/server/server.go
Due: go-fmt, go-test

fix: restore passkey list styling on account settings
  web/static/css/base.css
  web/templates/settings/account.html
Due: none

feat: add PKCE support to OIDC login flow
  internal/server/oidc.go
  internal/server/oidc_test.go
Due: go-fmt, go-test

feat: show a setup QR when a device has no apps
  go.mod
  internal/server/handlers_device_api.go
  internal/server/rotation.go
  internal/server/rotation_test.go
  internal/server/setup_image.go
  internal/server/setup_image_test.go
  internal/server/websockets.go
Due: go-fmt, go-mod-tidy, go-test

feat: show a setup QR when a device has no apps (#896)
  go.mod
  internal/server/handlers_device_api.go
  internal/server/rotation.go
  internal/server/rotation_test.go
  internal/server/setup_image.go
  internal/server/setup_image_test.go
  internal/server/websockets.go
Due: go-fmt, go-mod-tidy, go-test

Update configapp.html
  web/templates/manager/configapp.html
Due: none

Add image cropping and zoom controls
  web/templates/manager/configapp.html
Due: none

Address image crop review feedback
  web/templates/manager/configapp.html
Due: none

Ignore stale image upload results
  web/templates/manager/configapp.html
Due: none

use integers for scaling to fix firefox
  web/templates/manager/configapp.html
Due: none

show the current images on app edit and don't save animated webp/gifs
  web/templates/manager/configapp.html
Due: none

detect actual animations not by gif/webs file extensions
  web/templates/manager/configapp.html
Due: none

Add crop, pan, and zoom controls for image uploads on Shuffle Images app (#899)
  web/templates/manager/configapp.html
Due: none

Show Disabled and Inactive labels on app preview overlays
  web/i18n/de.json
  web/i18n/en.json
  web/static/css/manager.css
  web/templates/partials/app_card.html
Due: none

Add Gen2 disable touch button setting to device edit page
  API.md
  internal/data/models.go
  internal/server/handlers_api.go
  internal/server/handlers_device.go
  internal/server/websockets.go
  web/i18n/de.json
  web/i18n/en.json
  web/templates/manager/update.html
Due: go-fmt, go-test

Associate Disable Touch Button label with its checkbox
  web/templates/manager/update.html
Due: none

Fix night/dim mode filters overriding app-level filters.
  internal/server/render_utils.go
  internal/server/render_utils_test.go
Due: go-fmt, go-test

Use require for test server setup in filter tests.
  internal/server/render_utils_test.go
Due: go-fmt, go-test

Re-render apps when night/dim mode state or filters change.
  internal/data/models.go
  internal/server/handlers_api.go
  internal/server/handlers_device.go
  internal/server/mode_render.go
  internal/server/mode_render_test.go
  internal/server/render_utils.go
Due: go-fmt, go-test

Fix flaky filters-changed test by using fixed timestamps.
  internal/server/mode_render_test.go
  internal/server/render_utils.go
Due: go-fmt, go-test

Invalidate app renders before notifying dashboard of mode changes.
  internal/server/handlers_api.go
  internal/server/handlers_device.go
Due: go-fmt, go-test

Show Disabled and Inactive labels on app preview overlays (#902)
  web/i18n/de.json
  web/i18n/en.json
  web/static/css/manager.css
  web/templates/partials/app_card.html
Due: none

Add Gen2 disable touch button setting to device edit page (#903)
  API.md
  internal/data/models.go
  internal/server/handlers_api.go
  internal/server/handlers_device.go
  internal/server/websockets.go
  web/i18n/de.json
  web/i18n/en.json
  web/templates/manager/update.html
Due: go-fmt, go-test

Fix night/dim mode filters overriding app-level filters (#904)
  internal/data/models.go
  internal/server/handlers_api.go
  internal/server/handlers_device.go
  internal/server/mode_render.go
  internal/server/mode_render_test.go
  internal/server/render_utils.go
  internal/server/render_utils_test.go
Due: go-fmt, go-test

fix: stop the broken toggle from destroying the rest of manifest.yaml
  internal/server/handlers_app.go
  internal/server/handlers_app_test.go
Due: go-fmt, go-test

fix: stop the broken toggle from destroying the rest of manifest.yaml (#906)
  internal/server/handlers_app.go
  internal/server/handlers_app_test.go
Due: go-fmt, go-test

feat: support a 64x64 panel on the MatrixPortal S3
  README.md
  internal/data/models.go
  internal/data/models_test.go
  internal/firmware/firmware.go
  internal/server/firmware.go
  internal/server/helpers.go
  web/i18n/de.json
  web/i18n/en.json
Due: go-fmt, go-test

feat: support square 64x64 panels
  README.md
  internal/data/models.go
  internal/data/models_test.go
  internal/server/funcmap.go
  internal/server/funcmap_test.go
  internal/server/handlers_app.go
  internal/server/helpers.go
  internal/server/render_utils.go
  internal/server/rotation.go
  internal/server/setup_image.go
  internal/server/setup_image_test.go
  web/i18n/de.json
  web/i18n/en.json
  web/static/css/style.css
  web/static/js/theme.js
  web/templates/manager/device_tv.html
Due: go-fmt, go-test

test: use testify in the setup image tests
  internal/server/setup_image_test.go
Due: go-fmt, go-test

feat: group the device type picker by panel size
  internal/server/helpers.go
  internal/server/helpers_test.go
  web/templates/manager/create.html
  web/templates/manager/update.html
Due: go-fmt, go-test
