Repository tronbyt/server: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-mod-tidy, go-test

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

go-mod-tidy:
  name: go mod tidy
  entry: go mod tidy
  language: system
  pass_filenames: false

go-test:
  name: go test
  entry: go test ./...
  language: system
  pass_filenames: false

feat: lower minFirmwareFeaturesVersion to v1.4.8
  internal/data/models.go
Due: go-fmt, go-test

delete updateFirmwareData
  internal/firmware/firmware.go
Due: go-fmt, go-test

inject and generate merged binaries for users to webflash
  internal/data/models.go
  internal/firmware/firmware.go
  internal/server/firmware.go
  web/templates/manager/firmware.html
Due: go-fmt, go-test

add webflash instructions. made merged default.
  internal/server/firmware.go
  internal/server/firmware_test.go
  web/templates/manager/firmware.html
Due: go-fmt, go-test

trigger again.
  internal/firmware/firmware.go
Due: go-fmt, go-test

Handle Unix epoch in humanizeTime
  internal/server/funcmap.go
  internal/server/funcmap_test.go
Due: go-fmt, go-test

deps: bump deps
  go.mod
  go.sum
Due: go-mod-tidy

ci: install libwebp-dev in lint job to fix cgo compilation
  .github/workflows/build.yml
Due: none

at startup re-download firmware if merged files are missing
  internal/firmware/firmware.go
  internal/server/server.go
Due: go-fmt, go-test

use gen1 and S3 merged files for all other targets. check for merged files and re-download firmware if not.
  internal/data/models.go
  internal/server/firmware.go
Due: go-fmt, go-test

produce merged binaries with injected wifi creds for web flashable firmware files (#690)
  internal/data/models.go
  internal/firmware/firmware.go
  internal/server/firmware.go
  internal/server/firmware_test.go
  internal/server/server.go
  web/templates/manager/firmware.html
Due: go-fmt, go-test

fix: 'Copy to' dropdown disappearing after app actions
  internal/server/handlers_user.go
Due: go-fmt, go-test

Add video tutorial link for Docker installation
  README.md
Due: none

refactor: replace hardcoded admin username check with IsAdmin property
  internal/server/handlers_api_test.go
  internal/server/handlers_user.go
Due: go-fmt, go-test

perf: sort apps and devices in DB query
  internal/server/handlers_user.go
  internal/server/helpers.go
  internal/server/middleware.go
Due: go-fmt, go-test

deps: bump Go to 1.25.6
  go.mod
Due: go-mod-tidy

feat: show firmware settings only for ESP32-based devices
  internal/data/models.go
Due: go-fmt, go-test

fix(i18n): sync translation keys and fix typos
  web/i18n/de.json
  web/i18n/en.json
Due: none

add add app to top of list user pref.
  internal/data/models.go
  internal/server/auth.go
  internal/server/handlers_app.go
  web/templates/auth/edit.html
Due: go-fmt, go-test

deps: bump pixlet and air
  go.mod
  go.sum
Due: go-mod-tidy

deps: bump pixlet
  go.mod
  go.sum
Due: go-mod-tidy

make re-order on creation atomic
  internal/server/handlers_app.go
Due: go-fmt, go-test

use getMaxOrder
  internal/server/handlers_app.go
Due: go-fmt, go-test

use zero index
  internal/server/handlers_app.go
Due: go-fmt, go-test

no backtick order
  internal/server/handlers_app.go
Due: go-fmt, go-test

index
  internal/server/handlers_app.go
Due: go-fmt, go-test

add add app to top of list user pref. (#696)
  internal/data/models.go
  internal/server/auth.go
  internal/server/handlers_app.go
  web/templates/auth/edit.html
Due: go-fmt, go-test

feat: windows build
  build.ps1
  cmd/boot/main.go
Due: go-fmt, go-test

update comments
  build.ps1
Due: none

Update cmd/boot/main.go
  cmd/boot/main.go
Due: go-fmt, go-test

address comments
  build.ps1
Due: none

Path conditions:
  go-fmt: any of: \.go$
  go-mod-tidy: any of: go.mod|go.sum
  go-test: any of: \.go$
