Repository tronbyt/server: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-mod-tidy, go-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: go-fmt
        name: go fmt
        entry: gofmt -w
        language: system
        types: [go]
      - id: go-mod-tidy
        name: go mod tidy
        entry: go mod tidy
        language: system
        files: "go.mod|go.sum"
        pass_filenames: false
      - id: go-test
        name: go test
        entry: go test ./...
        language: system
        types: [go]
        pass_filenames: false
  - repo: https://github.com/golangci/golangci-lint
    rev: v2.7.2
    hooks:
      - id: golangci-lint
  - repo: https://github.com/djlint/djLint
    rev: v1.36.4
    hooks:
      - id: djlint-reformat-golang
        files: "\\.html"
        types_or: ["html"]

explicit GC after each call to next
  internal/server/render_utils.go
Due: go-fmt, go-test

limit to 10 concurrent renders
  internal/server/rotation.go
Due: go-fmt, go-test

simpliy logic
  internal/server/handlers_app.go
  web/static/js/manager.js
Due: go-fmt, go-test

more simplify
  internal/server/handlers_app.go
  internal/server/handlers_app_test.go
  web/templates/manager/addapp.html
Due: go-fmt, go-test

only 1 render at a times boys
  internal/server/rotation.go
Due: go-fmt, go-test

just return cached app image if render previous render already happening.
  internal/server/render_utils.go
  internal/server/rotation.go
Due: go-fmt, go-test

add background flag to handlePushImage and handlePushApp
  internal/server/handlers_api.go
Due: go-fmt, go-test

chore(deps): update pixlet to v0.51.0
  cmd/server/main.go
  go.mod
  go.sum
  internal/renderer/renderer.go
  internal/server/handlers_app.go
  internal/server/server.go
Due: go-fmt, go-mod-tidy, go-test

chore: remove pointer helpers
  internal/server/handlers_api_test.go
  internal/server/handlers_user_import_test.go
  internal/server/helpers.go
Due: go-fmt, go-test

chore(deps): update pixlet to v0.51.0 (#737)
  cmd/server/main.go
  go.mod
  go.sum
  internal/renderer/renderer.go
  internal/server/handlers_api_test.go
  internal/server/handlers_app.go
  internal/server/handlers_user_import_test.go
  internal/server/helpers.go
  internal/server/server.go
Due: go-fmt, go-mod-tidy, go-test

fix: ensure cache is not nil before pushing defer
  cmd/server/main.go
Due: go-fmt, go-test

fix: ensure cache is not nil before pushing defer (#738)
  cmd/server/main.go
Due: go-fmt, go-test

perf: change apps to a slice of pointers
  internal/data/models.go
  internal/legacy/converter.go
  internal/migration/migration_test.go
  internal/server/handlers_api.go
  internal/server/handlers_app.go
  internal/server/handlers_app_test.go
  internal/server/handlers_user_import_test.go
  internal/server/middleware.go
  internal/server/rotation.go
Due: go-fmt, go-test

chore: prefer `slices.Clone`
  internal/server/handlers_app.go
  internal/server/rotation.go
Due: go-fmt, go-test

perf: change apps to a slice of pointers (#739)
  internal/data/models.go
  internal/legacy/converter.go
  internal/migration/migration_test.go
  internal/server/handlers_api.go
  internal/server/handlers_app.go
  internal/server/handlers_app_test.go
  internal/server/handlers_user_import_test.go
  internal/server/middleware.go
  internal/server/rotation.go
Due: go-fmt, go-test

feat: add env to enable pprof endpoints
  .env.example
  README.md
  docker-compose.dev.yaml
  internal/config/config.go
  internal/config/config_test.go
  internal/server/server.go
  internal/server/server_test.go
Due: go-fmt, go-test

chore: fix lint warnings
  .github/workflows/build.yml
  web/templates/manager/device_tv.html
Due: none

chore(config): refactor config to use bools
  .env.example
  README.md
  cmd/server/main.go
  docker-compose.dev.yaml
  internal/config/config.go
  internal/server/auth.go
  internal/server/handlers_api_test.go
  internal/server/handlers_app.go
  internal/server/handlers_system.go
  internal/server/helpers.go
  internal/server/metrics_test.go
  internal/server/server.go
  internal/server/server_test.go
  web/templates/auth/register.html
  web/templates/base.html
  web/templates/partials/app_list_grid.html
Due: go-fmt, go-test

chore(config): refactor config to use bools (#741)
  .env.example
  README.md
  cmd/server/main.go
  docker-compose.dev.yaml
  internal/config/config.go
  internal/server/auth.go
  internal/server/handlers_api_test.go
  internal/server/handlers_app.go
  internal/server/handlers_system.go
  internal/server/helpers.go
  internal/server/metrics_test.go
  internal/server/server.go
  internal/server/server_test.go
  web/templates/auth/register.html
  web/templates/base.html
  web/templates/partials/app_list_grid.html
Due: go-fmt, go-test

fix nightmode list
  .pre-commit-config.yaml
  internal/server/handlers_device.go
Due: go-fmt, go-test

fix nightmode list (#747)
  .pre-commit-config.yaml
  internal/server/handlers_device.go
Due: go-fmt, go-test

chore(deps): update pixlet to v0.51.1
  go.mod
  go.sum
Due: go-mod-tidy

chore(deps): update pixlet to v0.51.1 (#749)
  go.mod
  go.sum
Due: go-mod-tidy

chore: suppress some `context canceled` logs
  internal/data/gorm_logger.go
  internal/server/middleware.go
Due: go-fmt, go-test

chore: suppress some `context canceled` logs (#751)
  internal/data/gorm_logger.go
  internal/server/middleware.go
Due: go-fmt, go-test

chore(deps): update pixlet to v0.51.3
  cmd/server/main.go
  go.mod
  go.sum
Due: go-fmt, go-mod-tidy, go-test

chore(deps): update pixlet to v0.51.3 (#753)
  cmd/server/main.go
  go.mod
  go.sum
Due: go-fmt, go-mod-tidy, go-test

feat: add option to show full app animation
  internal/data/models.go
  internal/renderer/renderer.go
  internal/server/handlers_app.go
  internal/server/helpers.go
  internal/server/render_utils.go
  web/i18n/de.json
  web/i18n/en.json
  web/templates/manager/configapp.html
Due: go-fmt, go-test

feat: add option to show full app animation (#754)
  internal/data/models.go
  internal/renderer/renderer.go
  internal/server/handlers_app.go
  internal/server/helpers.go
  internal/server/render_utils.go
  web/i18n/de.json
  web/i18n/en.json
  web/templates/manager/configapp.html
Due: go-fmt, go-test

revert and set db connection limits
  cmd/server/main.go
Due: go-fmt, go-test

db connection limits
  cmd/server/main.go
Due: go-fmt, go-test

catch db.DB error
  cmd/server/main.go
Due: go-fmt, go-test
