Repository tronbyt/server: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-mod-tidy, go-test

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

go-mod-tidy:
  name: go mod tidy
  entry: go mod tidy
  language: system
  pass_filenames: false

go-test:
  name: go test
  entry: go test ./...
  language: system
  pass_filenames: false

one more securejoin
  internal/server/handlers_app.go
Due: go-fmt, go-test

display image and installationID for pushed apps (#805)
  internal/server/funcmap.go
  internal/server/handlers_api.go
  internal/server/handlers_app.go
  internal/server/rotation.go
  web/templates/manager/configapp.html
  web/templates/partials/app_card.html
Due: go-fmt, go-test

fix(web): polish login screen template
  web/templates/auth/login.html
Due: none

fix custom recurrance ui bugs
  internal/server/funcmap.go
  web/templates/manager/configapp.html
Due: go-fmt, go-test

polish theh buttons
  web/templates/auth/login.html
Due: none

polish theh buttons (#819)
  web/templates/auth/login.html
Due: none

address regression with reflection
  internal/server/funcmap.go
  internal/server/funcmap_test.go
  web/templates/manager/configapp.html
Due: go-fmt, go-test

fix custom recurrance ui bugs (#818)
  internal/server/funcmap.go
  internal/server/funcmap_test.go
  web/templates/manager/configapp.html
Due: go-fmt, go-test

initial add waveshare-s3 device
  internal/data/models.go
  internal/server/firmware.go
  internal/server/helpers.go
  internal/server/server.go
  web/i18n/de.json
  web/i18n/en.json
Due: go-fmt, go-test

add waveshare-s3 device (#825)
  internal/data/models.go
  internal/server/firmware.go
  internal/server/helpers.go
  internal/server/server.go
  web/i18n/de.json
  web/i18n/en.json
Due: go-fmt, go-test

feat: auto-reload TLS certificates on file change
  cmd/server/serve/http.go
  cmd/server/serve/tls_reload.go
  cmd/server/serve/tls_reload_test.go
  go.mod
Due: go-fmt, go-mod-tidy, go-test

fix: address Gemini review - remove blocking sleep and timer leak
  cmd/server/serve/tls_reload.go
Due: go-fmt, go-test

fix: address Gemini review - add Close(), select-based timer, cleanup
  cmd/server/serve/http.go
  cmd/server/serve/tls_reload.go
  cmd/server/serve/tls_reload_test.go
Due: go-fmt, go-test

perf: address Gemini review - configurable debounce, init watcher early
  cmd/server/serve/tls_reload.go
  cmd/server/serve/tls_reload_test.go
Due: go-fmt, go-test

test: replace time.Sleep with assert.Eventually for debounce waits
  cmd/server/serve/tls_reload_test.go
Due: go-fmt, go-test

feat: auto-reload TLS certificates on file change (#828)
  cmd/server/serve/http.go
  cmd/server/serve/tls_reload.go
  cmd/server/serve/tls_reload_test.go
  go.mod
Due: go-fmt, go-mod-tidy, go-test

update pixlet to release 0.53.0 and others.
  go.mod
  go.sum
Due: go-mod-tidy

update pixlet to release 0.53.0 and others. (#829)
  go.mod
  go.sum
Due: go-mod-tidy

feat: add CoalesceID to push API for ephemeral image deduplication
  internal/server/handlers_api.go
  internal/server/handlers_api_test.go
  internal/server/handlers_app.go
  internal/server/handlers_device_api_test.go
  internal/server/rotation.go
  internal/server/rotation_test.go
Due: go-fmt, go-test

fix: validate coalesceID, fix suffix collision, loop on broken ephemeral files
  internal/server/handlers_api.go
  internal/server/handlers_api_test.go
  internal/server/rotation.go
  internal/server/rotation_test.go
Due: go-fmt, go-test

fix: filter directories from ephemeral file matching, use mkdir in test
  internal/server/handlers_api.go
  internal/server/rotation.go
  internal/server/rotation_test.go
Due: go-fmt, go-test

Add "Refresh options" for dynamically-fetched schema dropdowns
  cmd/server/serve/cache.go
  cmd/server/serve/cmd.go
  internal/pixletcache/cache.go
  internal/pixletcache/cache_test.go
  internal/server/handlers_app.go
  internal/server/server.go
  web/i18n/de.json
  web/i18n/en.json
  web/templates/manager/configapp.html
Due: go-fmt, go-test

pixletcache: use RWMutex and guard against empty bypass prefix
  internal/pixletcache/cache.go
Due: go-fmt, go-test

Reformat config header div to satisfy djlint
  web/templates/manager/configapp.html
Due: none

feat: expire anonymous ephemeral pushes older than 24 hours
  internal/server/handlers_api.go
  internal/server/handlers_api_test.go
Due: go-fmt, go-test

perf: run ephemeral expiry in background goroutine, only for anonymous pushes
  internal/server/handlers_api.go
  internal/server/handlers_api_test.go
Due: go-fmt, go-test

add failing test
  internal/server/handlers_api_test.go
Due: go-fmt, go-test

fix: look up pushed apps as described in API docs
  internal/data/models.go
  internal/server/handlers_api.go
Due: go-fmt, go-test

fix: handle missing cached image in push app handler and add corresponding test
  internal/server/handlers_api.go
  internal/server/handlers_api_test.go
Due: go-fmt, go-test

test: add tests for push app config handling and render-skip behavior from d2a2eec
  internal/server/handlers_api_test.go
Due: go-fmt, go-test

test: add tests for handling push app with appID only, no appID, and background processing
  internal/server/handlers_api_test.go
Due: go-fmt, go-test

fix(configapp): never seed a blank device location into app config
  internal/data/models.go
  web/templates/manager/configapp.html
Due: go-fmt, go-test

fix(configapp): disable Clear button when no location is set
  web/templates/manager/configapp.html
Due: none

feat(configapp): add Clear button to blank out an app's location
  web/templates/manager/configapp.html
Due: none

fix(configapp): persist device-location fallback for schema.Location fields
  web/templates/manager/configapp.html
Due: none

Path conditions:
  go-fmt: any of: \.go$
  go-mod-tidy: any of: go.mod|go.sum
  go-test: any of: \.go$
