Repository tronbyt/server: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-mod-tidy, go-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: go-fmt
        name: go fmt
        entry: gofmt -w
        language: system
        types: [go]
      - id: go-mod-tidy
        name: go mod tidy
        entry: go mod tidy
        language: system
        files: "go.mod|go.sum"
        pass_filenames: false
      - id: go-test
        name: go test
        entry: go test ./...
        language: system
        types: [go]
        pass_filenames: false
  - repo: https://github.com/golangci/golangci-lint
    rev: v2.7.2
    hooks:
      - id: golangci-lint
  - repo: https://github.com/djlint/djLint
    rev: v1.36.4
    hooks:
      - id: djlint-reformat-golang
        files: "\\.html"
        types_or: ["html"]

Save search pref to localstorage
  web/static/js/manager.js
Due: none

refactor: address PR comments for localStorage key and try...catch blocks
  web/static/js/manager.js
Due: none

feat: add option to skip boot animation
  internal/data/models.go
  internal/server/handlers_api.go
  internal/server/handlers_api_test.go
  internal/server/handlers_device.go
  internal/server/websockets.go
  web/templates/manager/update.html
Due: go-fmt, go-test

Save search pref to localstorage (#760)
  web/static/js/manager.js
Due: none

claude's first try
  internal/apps/apps.go
  web/i18n/de.json
  web/i18n/en.json
  web/static/js/manager.js
  web/templates/partials/app_list_grid.html
Due: go-fmt, go-test

gemini suggestions
  web/static/js/manager.js
  web/templates/partials/app_list_grid.html
Due: none

feat: add option to skip boot animation (#761)
  internal/data/models.go
  internal/server/handlers_api.go
  internal/server/handlers_api_test.go
  internal/server/handlers_device.go
  internal/server/websockets.go
  web/templates/manager/update.html
Due: go-fmt, go-test

Implement category selection and tag search in addapp page. (#762)
  internal/apps/apps.go
  web/i18n/de.json
  web/i18n/en.json
  web/static/js/manager.js
  web/templates/partials/app_list_grid.html
Due: go-fmt, go-test

semaphore to enforce max 5 concurrent renders
  internal/server/render_utils.go
  internal/server/server.go
Due: go-fmt, go-test

add render metrics
  internal/server/render_metrics.go
  internal/server/render_utils.go
  internal/server/server.go
Due: go-fmt, go-test

env var for maxconcurrentrenders
  docker-compose.dev.yaml
  docker-compose.https.yaml
  docker-compose.postgres.yaml
  docker-compose.redis.yaml
  docker-compose.yaml
  internal/config/config.go
  internal/server/server.go
Due: go-fmt, go-test

print 10 sec stats to log.
  internal/server/handlers_device_api.go
  internal/server/render_metrics.go
  internal/server/render_utils.go
  internal/server/server.go
Due: go-fmt, go-test

modify 10 sec stats
  internal/server/handlers_device_api.go
  internal/server/render_metrics.go
  internal/server/websockets.go
Due: go-fmt, go-test

add admin stats dashboard
  internal/server/handlers_device_api.go
  internal/server/handlers_user.go
  internal/server/helpers.go
  internal/server/render_metrics.go
  internal/server/server.go
  web/templates/base.html
  web/templates/manager/admin_dashboard.html
Due: go-fmt, go-test

auto refresh the admin dashboard
  internal/server/render_metrics.go
  web/templates/manager/admin_dashboard.html
Due: go-fmt, go-test

skip render if no slots open
  internal/server/render_utils.go
Due: go-fmt, go-test

print load avg in stats line
  internal/server/render_metrics.go
  internal/server/render_utils.go
Due: go-fmt, go-test

tyrp
  internal/server/render_metrics.go
Due: go-fmt, go-test

remove periodic render stats
  internal/server/render_metrics.go
  internal/server/render_utils.go
  internal/server/server.go
Due: go-fmt, go-test

semaphors for /next
  internal/server/handlers_device_api.go
  internal/server/server.go
Due: go-fmt, go-test

use atomic.Int64
  internal/server/render_metrics.go
Due: go-fmt, go-test

Apply suggestions from code review
  internal/server/server.go
Due: go-fmt, go-test

fix rendersem
  internal/server/server.go
Due: go-fmt, go-test

Hide inactive items
  web/templates/manager/device_tv.html
Due: none

stop looping in determineNext if context cancels.
  internal/server/rotation.go
Due: go-fmt, go-test

Skip "Inactive" apps from the "TV Mode". So the TV Mode will display only apps that have content currently.
  web/templates/manager/device_tv.html
Due: none

up http timeouts to 25s
  cmd/server/main.go
Due: go-fmt, go-test

Skip "Inactive" apps from the "TV Mode". So the TV Mode will display only apps that have content currently. (#767)
  web/templates/manager/device_tv.html
Due: none

Cancel determineNext on context cancel (#768)
  cmd/server/main.go
  internal/server/rotation.go
Due: go-fmt, go-test

increase render slots to 10 and print out slots in use
  internal/config/config.go
  internal/server/render_metrics.go
  internal/server/server.go
Due: go-fmt, go-test

display device id on render stats line
  internal/server/render_utils.go
Due: go-fmt, go-test

print device id and app name during context cancels
  internal/server/render_utils.go
  internal/server/rotation.go
Due: go-fmt, go-test

remove row lock during handleNextApp
  internal/server/handlers_device_api.go
Due: go-fmt, go-test

Added 2-second timeouts to last_seen updates
  cmd/server/main.go
  internal/server/handlers_device_api.go
  internal/server/websockets.go
Due: go-fmt, go-test

chore(deps): update pixlet to v0.52.0
  go.mod
  go.sum
Due: go-mod-tidy

chore(deps): update pixlet to v0.52.0 (#769)
  go.mod
  go.sum
Due: go-mod-tidy

Revert "chore(deps): update pixlet to v0.52.0 (#769)"
  go.mod
  go.sum
Due: go-mod-tidy

Reapply "chore(deps): update pixlet to v0.52.0 (#769)"
  go.mod
  go.sum
Due: go-mod-tidy
