Repository tronbyt/server: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-mod-tidy, go-test

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

go-mod-tidy:
  name: go mod tidy
  entry: go mod tidy
  language: system
  pass_filenames: false

go-test:
  name: go test
  entry: go test ./...
  language: system
  pass_filenames: false

refactor: Add DeviceUnknown as zero value enum
  internal/data/models.go
  internal/server/handlers_api_test.go
Due: go-fmt, go-test

refactor: Generate StringToDeviceType map dynamically
  internal/data/models.go
Due: go-fmt, go-test

refactor: Simplify DeviceType enum handling and remove unnecessary migration
  cmd/server/main.go
  internal/data/models.go
  internal/migration/migration.go
  internal/server/handlers_device.go
  internal/server/helpers.go
  web/templates/manager/create.html
  web/templates/manager/firmware.html
  web/templates/manager/update.html
Due: go-fmt, go-test

refactor: Address PR feedback for DeviceType enum
  internal/data/models.go
  internal/legacy/converter.go
  internal/migration/migration.go
  internal/server/handlers_device.go
  internal/server/helpers.go
  web/templates/manager/create.html
  web/templates/manager/update.html
Due: go-fmt, go-test

refactor: Further simplify DeviceType.Scan
  internal/data/models.go
Due: go-fmt, go-test

refactor: Use slugs for DeviceType in web forms and handlers
  internal/server/handlers_device.go
  internal/server/handlers_device_test.go
  web/templates/manager/create.html
  web/templates/manager/update.html
Due: go-fmt, go-test

i18n: Add translation for 'Leave blank to auto-generate.'
  .air.toml
  web/i18n/de.json
  web/i18n/en.json
Due: none

i18n: Add translation for 'Optional'
  web/i18n/de.json
  web/i18n/en.json
Due: none

feat: always enable OTA updates for `dev` firmware versions
  internal/data/models.go
Due: go-fmt, go-test

fix: increase minimum firmware version for OTA to 1.4.6
  internal/data/models.go
Due: go-fmt, go-test

feat: only show OTA if HTTPS is used
  internal/server/handlers_device.go
Due: go-fmt, go-test

deps: bump go-git and pixlet
  go.mod
  go.sum
Due: go-mod-tidy

Optimize handleDots SVG generation
  internal/server/handlers_api.go
  internal/server/handlers_api_test.go
Due: go-fmt, go-test

fix(css): make app grid view images responsive on mobile
  web/static/css/manager.css
Due: none

feat: show OTA also
  internal/server/handlers_device.go
Due: go-fmt, go-test

Fix app pinning issues: sticky pin, real-time badge updates, and badge styling
  internal/server/render_utils.go
  internal/server/rotation.go
  internal/server/rotation_test.go
  web/static/css/manager.css
  web/static/js/manager.js
  web/templates/partials/device_card.html
Due: go-fmt, go-test

Restore pinning test and fix pinned badge logic
  internal/server/rotation_test.go
Due: go-fmt, go-test

Optimize dashboard refreshes with partial template rendering
  internal/server/handlers_user.go
  internal/server/helpers.go
  web/static/js/manager.js
Due: go-fmt, go-test

Verify renderability of Night Mode and Pinned apps
  internal/server/rotation.go
Due: go-fmt, go-test

Enhance AutoPin logic to unpin on render failure
  internal/server/render_utils.go
Due: go-fmt, go-test

Add error handling for database updates and ensure in-memory state consistency
  internal/server/render_utils.go
  internal/server/rotation.go
Due: go-fmt, go-test

Refactor AutoPin logic and add comprehensive tests
  internal/server/render_utils.go
  internal/server/rotation_test.go
Due: go-fmt, go-test

deps: bump github.com/nicksnyder/go-i18n/v2 and github.com/mattn/go-sqlite3
  go.mod
  go.sum
Due: go-mod-tidy

fix: app preview cropping and mask alignment issues
  web/static/css/addapp-simple.css
  web/static/css/manager.css
  web/static/css/style.css
  web/static/css/w3.css
Due: none

Path conditions:
  go-fmt: any of: \.go$
  go-mod-tidy: any of: go.mod|go.sum
  go-test: any of: \.go$
