Repository tronbyt/server: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-mod-tidy, go-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: go-fmt
        name: go fmt
        entry: gofmt -w
        language: system
        types: [go]
      - id: go-mod-tidy
        name: go mod tidy
        entry: go mod tidy
        language: system
        files: "go.mod|go.sum"
        pass_filenames: false
      - id: go-test
        name: go test
        entry: go test ./...
        language: system
        types: [go]
        pass_filenames: false
  - repo: https://github.com/golangci/golangci-lint
    rev: v2.7.2
    hooks:
      - id: golangci-lint
  - repo: https://github.com/djlint/djLint
    rev: v1.36.4
    hooks:
      - id: djlint-reformat-golang
        files: "\\.html"
        types_or: ["html"]

feat: supports64x64 manifest flag and square previews
  internal/apps/apps.go
  internal/apps/apps_test.go
  internal/renderer/diag_test.go
  internal/server/handlers_app.go
  web/static/css/addapp-simple.css
  web/static/css/manager.css
  web/static/css/style.css
  web/templates/partials/app_list_grid.html
Due: go-fmt, go-test

fix: resolve pushed apps by installationID in GET/PATCH installation endpoints
  internal/server/handlers_api.go
  internal/server/handlers_api_test.go
Due: go-fmt, go-test

fix: resolve pushed apps by installationID in GET/PATCH installation endpoints (#910)
  internal/server/handlers_api.go
  internal/server/handlers_api_test.go
Due: go-fmt, go-test

Support configurable OIDC scopes
  internal/config/config.go
  internal/config/config_test.go
  internal/server/admin.go
  internal/server/handlers_user.go
  internal/server/helpers.go
  internal/server/oidc.go
  internal/server/oidc_test.go
  internal/server/server.go
  web/i18n/de.json
  web/i18n/en.json
  web/templates/admin/settings.html
  web/templates/settings/admin.html
Due: go-fmt, go-test

Support configurable OIDC scopes (#911)
  internal/config/config.go
  internal/config/config_test.go
  internal/server/admin.go
  internal/server/handlers_user.go
  internal/server/helpers.go
  internal/server/oidc.go
  internal/server/oidc_test.go
  internal/server/server.go
  web/i18n/de.json
  web/i18n/en.json
  web/templates/admin/settings.html
  web/templates/settings/admin.html
Due: go-fmt, go-test

feat: Google OAuth provider for Connections
  .env.example
  docs/oauth-connections.md
  internal/config/config.go
  internal/connections/google.go
  internal/connections/google_test.go
  internal/connections/provider.go
  internal/connections/provider_test.go
  internal/server/handlers_connections.go
  internal/server/server.go
Due: go-fmt, go-test

fix: plain "Connected" state for providers without an identity label
  internal/connections/google.go
  web/i18n/de.json
  web/i18n/en.json
  web/templates/manager/configapp.html
  web/templates/manager/connections.html
Due: go-fmt, go-test

feat: add Color Order to device settings
  internal/data/models.go
  internal/server/handlers_api.go
  internal/server/handlers_api_test.go
  internal/server/handlers_device.go
  internal/server/websockets.go
  web/i18n/de.json
  web/i18n/en.json
  web/templates/manager/update.html
Due: go-fmt, go-test

fix: accept any case for color order, document it, and cover the write paths
  API.md
  internal/server/handlers_api.go
  internal/server/handlers_api_test.go
  internal/server/handlers_device.go
  internal/server/handlers_device_test.go
  internal/server/websockets_test.go
  web/templates/manager/update.html
Due: go-fmt, go-test

fix: normalize device-reported color order, and follow repo test conventions
  internal/server/handlers_api_test.go
  internal/server/handlers_device_test.go
  internal/server/websockets.go
  internal/server/websockets_test.go
  web/templates/manager/update.html
Due: go-fmt, go-test

guard color-order setting for min firmware 1.7.0
  internal/data/models.go
  internal/data/models_test.go
  web/templates/manager/update.html
Due: go-fmt, go-test

feat: support square 64x64 panels (Raspberry Pi and MatrixPortal S3) (#905)
  README.md
  internal/apps/apps.go
  internal/apps/apps_test.go
  internal/data/models.go
  internal/data/models_test.go
  internal/firmware/firmware.go
  internal/renderer/diag_test.go
  internal/server/firmware.go
  internal/server/funcmap.go
  internal/server/funcmap_test.go
  internal/server/handlers_app.go
  internal/server/helpers.go
  internal/server/helpers_test.go
  internal/server/render_utils.go
  internal/server/rotation.go
  internal/server/setup_image.go
  internal/server/setup_image_test.go
  web/i18n/de.json
  web/i18n/en.json
  web/static/css/addapp-simple.css
  web/static/css/manager.css
  web/static/css/style.css
  web/static/js/theme.js
  web/templates/manager/create.html
  web/templates/manager/device_tv.html
  web/templates/manager/update.html
  web/templates/partials/app_list_grid.html
Due: go-fmt, go-test

feat: add Color Order to device settings (#917)
  API.md
  internal/data/models.go
  internal/data/models_test.go
  internal/server/handlers_api.go
  internal/server/handlers_api_test.go
  internal/server/handlers_device.go
  internal/server/handlers_device_test.go
  internal/server/websockets.go
  internal/server/websockets_test.go
  web/i18n/de.json
  web/i18n/en.json
  web/templates/manager/update.html
Due: go-fmt, go-test

fix(renderer): run pixlet renders in an isolated subprocess to survive panics
  cmd/server/main.go
  internal/renderer/renderer.go
  internal/renderer/renderer_test.go
  internal/renderer/worker.go
Due: go-fmt, go-test

fix(renderer): always capture applet prints in isolated worker mode
  internal/renderer/renderer_test.go
  internal/renderer/worker.go
Due: go-fmt, go-test

test(renderer): verify isolated worker survives applet and subprocess failures
  internal/renderer/render_isolated_test.go
  internal/renderer/testdata/panicworker/main.go
Due: go-fmt, go-test

chore(deps): update pixlet to v0.54.0
  go.mod
  go.sum
Due: go-mod-tidy

chore(deps): update pixlet to v0.54.0 (#920)
  go.mod
  go.sum
Due: go-mod-tidy

fix: adapt to webauthn v0.18.0 RegistrationOption signature
  internal/server/webauthn.go
Due: go-fmt, go-test

test: fix lint warnings
  internal/apps/apps.go
  internal/server/handlers_app_test.go
Due: go-fmt, go-test

fix: stop logging stored scrypt hash on format mismatch
  internal/auth/password.go
Due: go-fmt, go-test

fix: stop logging stored scrypt hash on format mismatch (#921)
  internal/auth/password.go
Due: go-fmt, go-test

fix(ui): restore round color palette swatches
  web/static/css/configapp-simple.css
  web/templates/manager/configapp.html
Due: none

fix(ui): restore round color palette swatches (#922)
  web/static/css/configapp-simple.css
  web/templates/manager/configapp.html
Due: none

change default image from awkward monkey to sleepy face.
  web/static/images/default.webp
Due: none

feat: add Beep On Touch to device settings
  API.md
  internal/data/models.go
  internal/server/handlers_api.go
  internal/server/handlers_api_test.go
  internal/server/handlers_device.go
  internal/server/handlers_device_test.go
  internal/server/websockets.go
  internal/server/websockets_test.go
  web/i18n/de.json
  web/i18n/en.json
  web/templates/manager/update.html
Due: go-fmt, go-test

feat: add Beep On Touch to device settings (#928)
  API.md
  internal/data/models.go
  internal/server/handlers_api.go
  internal/server/handlers_api_test.go
  internal/server/handlers_device.go
  internal/server/handlers_device_test.go
  internal/server/websockets.go
  internal/server/websockets_test.go
  web/i18n/de.json
  web/i18n/en.json
  web/templates/manager/update.html
Due: go-fmt, go-test

fix: allow clearing a schema.Typeahead selection
  web/i18n/de.json
  web/i18n/en.json
  web/templates/manager/configapp.html
Due: none

fix: ignore stale typeahead responses
  web/templates/manager/configapp.html
Due: none

feat(sounds): add notification sounds, Pixlet sound schema support, and programmatic sound triggers
  API.md
  internal/data/models.go
  internal/server/admin.go
  internal/server/funcmap.go
  internal/server/handlers_api.go
  internal/server/handlers_app.go
  internal/server/handlers_device.go
  internal/server/handlers_user.go
  internal/server/helpers.go
  internal/server/middleware.go
  internal/server/render_utils.go
  internal/server/server.go
  internal/server/sounds.go
  internal/server/sounds_test.go
  web/static/sounds/alert.wav
  web/static/sounds/bell.wav
  web/static/sounds/chime.wav
  web/static/sounds/ding.wav
  web/static/sounds/pop.wav
  web/templates/manager/configapp.html
  web/templates/manager/update.html
  web/templates/settings/admin.html
Due: go-fmt, go-test

fix(lint): resolve golangci-lint staticcheck, errcheck, predeclared, and tagalign issues
  internal/data/models.go
  internal/server/admin.go
  internal/server/render_utils.go
  internal/server/sounds.go
  internal/server/sounds_test.go
Due: go-fmt, go-test

style(templates): reformat templates using djlint
  web/templates/manager/configapp.html
  web/templates/manager/update.html
  web/templates/settings/admin.html
Due: none

feat(sounds): add Tron Bit default notification sound and piezo tone mapping
  internal/server/sounds.go
  internal/server/sounds_test.go
  web/static/sounds/tron.wav
Due: go-fmt, go-test

feat(settings): add startup_sound firmware setting and web UI control
  API.md
  internal/data/models.go
  internal/server/handlers_api.go
  internal/server/handlers_device.go
  internal/server/handlers_device_test.go
  internal/server/websockets.go
  web/i18n/de.json
  web/i18n/en.json
  web/templates/manager/update.html
Due: go-fmt, go-test

test(device): refactor firmware settings tests with helpers to avoid dupl warnings
  internal/server/handlers_device_test.go
Due: go-fmt, go-test

feat(settings): show startup_sound for speaker-capable devices alongside swap_colors
  internal/data/models.go
  internal/server/handlers_api.go
  internal/server/handlers_device.go
  internal/server/handlers_device_test.go
  web/templates/manager/update.html
Due: go-fmt, go-test

feat(sounds): add dashboard mute toggle and night mode sound suppression
  internal/data/models.go
  internal/server/handlers_api.go
  internal/server/handlers_api_test.go
  internal/server/handlers_device.go
  internal/server/handlers_device_test.go
  internal/server/server.go
  internal/server/sounds.go
  internal/server/sounds_test.go
  web/i18n/de.json
  web/i18n/en.json
  web/static/css/manager.css
  web/static/js/manager.js
  web/templates/manager/update.html
  web/templates/partials/device_card.html
Due: go-fmt, go-test

style: align struct tags in models.go for tagalign
  internal/data/models.go
Due: go-fmt, go-test

feat: support a 128x64 panel on the MatrixPortal S3
  README.md
  internal/data/models.go
  internal/data/models_test.go
  internal/server/firmware.go
  internal/server/helpers.go
  web/i18n/de.json
  web/i18n/en.json
Due: go-fmt, go-test
