Repository tronbyt/server: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-mod-tidy, go-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: go-fmt
        name: go fmt
        entry: gofmt -w
        language: system
        types: [go]
      - id: go-mod-tidy
        name: go mod tidy
        entry: go mod tidy
        language: system
        files: "go.mod|go.sum"
        pass_filenames: false
      - id: go-test
        name: go test
        entry: go test ./...
        language: system
        types: [go]
        pass_filenames: false
  - repo: https://github.com/golangci/golangci-lint
    rev: v2.7.2
    hooks:
      - id: golangci-lint
  - repo: https://github.com/djlint/djLint
    rev: v1.36.4
    hooks:
      - id: djlint-reformat-golang
        files: "\\.html"
        types_or: ["html"]

chore: add djlint config
  djlint.toml
Due: none

fix: fix escaping in API example
  web/templates/manager/update.html
Due: none

fix: ensure containing directories for .star uploads exists
  internal/server/handlers_app.go
Due: go-fmt, go-test

fix: add missing file input for import during device creation
  .air.toml
  web/templates/manager/create.html
Due: none

Fix device config buttons alignment and HTTP OTA check
  internal/data/models.go
  web/templates/manager/update.html
Due: go-fmt, go-test

feat: update device firmware version from X-Firmware-Version header
  internal/data/models.go
  internal/server/handlers_device_api.go
  internal/server/handlers_device_api_test.go
Due: go-fmt, go-test

fix: use transaction and row lock for device info update to prevent race conditions
  internal/server/handlers_device_api.go
Due: go-fmt, go-test

chore: remove unused script
  scripts/i18n/extract.sh
Due: none

chore: remove duplicate key
  web/i18n/de.json
  web/i18n/en.json
Due: none

Fix Night Mode behavior and cleanup on app deletion
  internal/server/handlers_app.go
  internal/server/rotation.go
Due: go-fmt, go-test

Add unit test for clearing NightModeApp on app deletion
  internal/server/handlers_app_test.go
Due: go-fmt, go-test

perf(db): optimize indexes and make email field optional
  internal/data/models.go
  internal/legacy/converter.go
  internal/server/auth.go
  internal/server/handlers_api_test.go
  internal/server/handlers_user_import_test.go
  internal/server/helpers_test.go
Due: go-fmt, go-test

feat(auth): allow users to change their email address
  internal/server/auth.go
  web/i18n/de.json
  web/i18n/en.json
  web/templates/auth/edit.html
  web/templates/auth/register.html
Due: go-fmt, go-test

refactor(auth): simplify email update logic in handleEditUserPost
  internal/server/auth.go
Due: go-fmt, go-test

ci: remove `dawidd6/action-homebrew-bump-formula`
  .github/workflows/build.yml
Due: none

Refactor: Remove redundant app_list_grid template
  web/templates/manager/addapp.html
Due: none

Perf: Background firmware update on startup
  cmd/server/main.go
Due: go-fmt, go-test

feat: move Render template to v2
  render.yaml
Due: none

fix: downgrade some expected messages from INFO to DEBUG
  internal/migration/migration.go
  internal/server/websockets.go
Due: go-fmt, go-test

Fix app interval unit and improve toggle error handling
  go.mod
  go.sum
  internal/server/handlers_app.go
  internal/server/render_utils.go
Due: go-fmt, go-mod-tidy, go-test

chore: remove unused WEB_CONCURRENCY variable
  .env.example
  deploy/googlecloud/startup.sh
  docker-compose.https.yaml
  docker-compose.redis.yaml
Due: none

fix(ui) fix flash messages being too tall
  web/static/css/style.css
  web/templates/base.html
Due: none

fix: Refactor user import to explicitly insert apps individually
  internal/server/handlers_user.go
  internal/server/handlers_user_import_fix_test.go
Due: go-fmt, go-test
