Repository tronbyt/server: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-mod-tidy, go-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: go-fmt
        name: go fmt
        entry: gofmt -w
        language: system
        types: [go]
      - id: go-mod-tidy
        name: go mod tidy
        entry: go mod tidy
        language: system
        files: "go.mod|go.sum"
        pass_filenames: false
      - id: go-test
        name: go test
        entry: go test ./...
        language: system
        types: [go]
        pass_filenames: false
  - repo: https://github.com/golangci/golangci-lint
    rev: v2.7.2
    hooks:
      - id: golangci-lint
  - repo: https://github.com/djlint/djLint
    rev: v1.36.4
    hooks:
      - id: djlint-reformat-golang
        files: "\\.html"
        types_or: ["html"]

fix: env check syntax
  cmd/boot/main.go
Due: go-fmt, go-test

check error on setenv
  cmd/boot/main.go
Due: go-fmt, go-test

fix lint
  cmd/boot/main.go
Due: go-fmt, go-test

add windows build to build.yml workflow
  .github/workflows/build.yml
Due: none

rm main.go changes, fix build issue
  .github/workflows/build.yml
  cmd/boot/main.go
Due: go-fmt, go-test

add cgo flags
  .github/workflows/build.yml
Due: none

fix windows build
  .github/workflows/build.yml
Due: none

fix: windows build
  .github/workflows/build.yml
Due: none

add msys2 id
  .github/workflows/build.yml
Due: none

fix: env vars
  .github/workflows/build.yml
Due: none

fix: build
  .github/workflows/build.yml
Due: none

ci: repoint docker `latest` tag to releases
  .github/workflows/publish.yml
Due: none

chore: add missing translation
  go.mod
  go.sum
  web/i18n/de.json
  web/i18n/en.json
Due: go-mod-tidy

feat: support multiple firmware versions and improve download reliability
  internal/firmware/firmware.go
  internal/server/auth.go
  internal/server/firmware.go
  internal/server/firmware_test.go
  internal/server/handlers_device.go
  internal/server/handlers_system.go
  internal/server/helpers.go
  web/i18n/de.json
  web/i18n/en.json
  web/static/js/manager.js
  web/templates/auth/edit.html
  web/templates/manager/firmware.html
  web/templates/manager/update.html
Due: go-fmt, go-test

create tmp dir in data dir so zip uploads will work.
  internal/server/handlers_app.go
Due: go-fmt, go-test

fix: improve temp dir handling, firmware updates, and test isolation
  cmd/server/main.go
  internal/server/firmware.go
  internal/server/handlers_api_test.go
  internal/server/handlers_app.go
  internal/server/metrics_test.go
  internal/server/server.go
  internal/server/server_test.go
Due: go-fmt, go-test

patch: firmware filenaming for S3
  internal/server/firmware.go
Due: go-fmt, go-test

fix: path traversal protection
  internal/server/firmware.go
Due: go-fmt, go-test

feat: add ENABLE_UPDATE_CHECKS and migrate ETag storage to database
  internal/config/config.go
  internal/server/firmware.go
  internal/server/handlers_api_test.go
  internal/server/handlers_system.go
  internal/server/server_test.go
Due: go-fmt, go-test

refactor: use tagged switch on resp.StatusCode in doUpdateCheck
  internal/server/handlers_system.go
Due: go-fmt, go-test

fix: log errors when failing to persist update metadata in doUpdateCheck
  internal/server/handlers_system.go
Due: go-fmt, go-test

fix: ensure both tag and URL are successfully loaded in doUpdateCheck
  internal/server/handlers_system.go
Due: go-fmt, go-test

feat: add ENABLE_UPDATE_CHECKS and migrate ETag storage to database (#707)
  internal/config/config.go
  internal/server/firmware.go
  internal/server/handlers_api_test.go
  internal/server/handlers_system.go
  internal/server/server_test.go
Due: go-fmt, go-test

add dim_mode enable checkbox and dim mode color filter selection.
  internal/data/models.go
  internal/legacy/reader.go
  internal/server/handlers_device.go
  internal/server/render_utils.go
  web/templates/manager/update.html
Due: go-fmt, go-test

add a red warning banner to the firmware page when url has localhost
  internal/server/firmware.go
  internal/server/helpers.go
  web/templates/manager/firmware.html
Due: go-fmt, go-test

add warnings on edit device page
  internal/server/firmware.go
  internal/server/handlers_device.go
  web/templates/manager/update.html
Due: go-fmt, go-test

localhost url warnings
  internal/server/firmware.go
  internal/server/handlers_device.go
  internal/server/helpers.go
  web/templates/manager/firmware.html
  web/templates/manager/update.html
Due: go-fmt, go-test

warning banners in proper locations
  web/templates/manager/firmware.html
  web/templates/manager/update.html
Due: none

add dim_mode enable checkbox and dim mode color filter selection. (#709)
  internal/data/models.go
  internal/legacy/reader.go
  internal/server/handlers_device.go
  internal/server/render_utils.go
  web/templates/manager/update.html
Due: go-fmt, go-test

fix update.html messups
  web/templates/manager/update.html
Due: none

fix updat.html syntax
  web/templates/manager/update.html
Due: none

remove duplicate form tag
  web/templates/manager/firmware.html
Due: none

Local image url warnings (#711)
  internal/server/firmware.go
  internal/server/handlers_device.go
  internal/server/helpers.go
  web/templates/manager/firmware.html
  web/templates/manager/update.html
Due: go-fmt, go-test

addr comments
  .github/workflows/build.yml
  build.ps1
  cmd/boot/main.go
Due: go-fmt, go-test
