Repository tronbyt/server: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-mod-tidy, go-test

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

go-mod-tidy:
  name: go mod tidy
  entry: go mod tidy
  language: system
  pass_filenames: false

go-test:
  name: go test
  entry: go test ./...
  language: system
  pass_filenames: false

fix: app preview cropping and mask alignment issues
  web/static/css/addapp-simple.css
  web/static/css/manager.css
  web/static/css/style.css
  web/static/css/w3.css
Due: none

Refactor API handlers to use RequireDevice and fix device key authentication issues
  internal/server/handlers_api.go
  internal/server/handlers_api_test.go
  internal/server/middleware.go
Due: go-fmt, go-test

fix: fix device update race condition
  internal/data/models.go
  internal/server/handlers_api.go
  internal/server/handlers_app.go
  internal/server/render_utils.go
  internal/server/rotation.go
  internal/server/websockets.go
Due: go-fmt, go-test

docs: add ID-only update pattern to GEMINI.md as a best practice
  GEMINI.md
Due: none

feat: add indicators for night and dim mode to device card
  web/i18n/de.json
  web/i18n/en.json
  web/static/css/manager.css
  web/templates/partials/device_card.html
Due: none

style: refactor night and dim mode badge CSS to reduce redundancy
  web/static/css/manager.css
Due: none

feat: add indicators for night and dim mode to device card (#662)
  web/i18n/de.json
  web/i18n/en.json
  web/static/css/manager.css
  web/templates/partials/device_card.html
Due: none

feat: refactor admin index and simplify device data handling
  internal/data/models.go
  internal/server/funcmap.go
  internal/server/handlers_user.go
  internal/server/helpers.go
  web/i18n/de.json
  web/i18n/en.json
  web/static/js/manager.js
  web/templates/manager/adminindex.html
  web/templates/manager/index.html
  web/templates/partials/app_card.html
  web/templates/partials/device_card.html
Due: go-fmt, go-test

fix: don't offer OTA updates for Pixoticker
  internal/data/models.go
Due: go-fmt, go-test

feat: Implement new design system for app cards with Lucide icons and add new integration, migration, and design system documentation.
  .gitignore
  DESIGN_SYSTEM.md
  INTEGRATION_GUIDE.md
  MIGRATION_GUIDE.md
  web/static/css/design-system.css
  web/static/css/manager.css
  web/static/js/app-card.js
  web/static/js/lucide.min.js
  web/static/js/manager.js
  web/templates/base.html
  web/templates/manager/index.html
  web/templates/partials/app_card.html
Due: none

feat: Implement dynamic Lucide icon loading via MutationObserver, optimize app card pin/enable toggles with partial UI updates, and enhance device menu dropdown functionality.
  web/static/css/design-system.css
  web/static/js/app-card.js
  web/static/js/manager.js
  web/templates/partials/app_card.html
Due: none

reload fixes and preview image fixes
  web/static/css/design-system.css
  web/static/js/app-card.js
  web/static/js/manager.js
Due: none

fix: Support .webp-only apps in user library
  internal/apps/apps.go
  internal/server/handlers_app.go
  internal/server/render_utils.go
Due: go-fmt, go-test

feat: add support for new firmware settings (WiFi power save, color swap, etc.)
  internal/data/models.go
  internal/server/handlers_device.go
  internal/server/server.go
  internal/server/websockets.go
  internal/sync/broadcaster.go
  web/i18n/de.json
  web/i18n/en.json
  web/static/css/firmware-simple.css
  web/static/css/style.css
  web/templates/manager/update.html
  web/templates/partials/device_card.html
Due: go-fmt, go-test

add PORT to render yaml
  render.yaml
Due: none

Fix migration for broken timestamps in Python backend
  cmd/server/main.go
  internal/legacy/converter.go
Due: go-fmt, go-test

fix: improve device management, GORM error handling, and UI rendering
  cmd/server/main.go
  internal/data/gorm_logger.go
  internal/server/auth.go
  internal/server/handlers_device.go
  internal/server/helpers.go
  internal/server/middleware.go
  internal/server/websockets.go
  web/static/css/addapp-simple.css
Due: go-fmt, go-test

refactor: optimize regex and improve CSS specificity
  internal/server/handlers_device.go
  web/static/css/addapp-simple.css
Due: go-fmt, go-test

fix: improve device management, GORM error handling, and UI rendering (#669)
  cmd/server/main.go
  internal/data/gorm_logger.go
  internal/server/auth.go
  internal/server/handlers_device.go
  internal/server/helpers.go
  internal/server/middleware.go
  internal/server/websockets.go
  web/static/css/addapp-simple.css
Due: go-fmt, go-test

Refactor server handlers and middleware to use GORM Generics API
  internal/server/auth.go
  internal/server/handlers_api.go
  internal/server/handlers_device.go
  internal/server/middleware.go
Due: go-fmt, go-test

Complete adoption of GORM Generics API across server handlers, middleware, and migration
  internal/migration/migration.go
  internal/server/auth.go
  internal/server/firmware.go
  internal/server/handlers_api_test.go
  internal/server/handlers_app.go
  internal/server/handlers_device_api.go
  internal/server/handlers_user.go
  internal/server/helpers.go
  internal/server/middleware.go
  internal/server/rotation.go
  internal/server/webauthn.go
  internal/server/websockets.go
Due: go-fmt, go-test

Fix linting issues and TestDetermineNextApp_AutoPin
  internal/server/auth.go
  internal/server/handlers_api_test.go
  internal/server/rotation_test.go
Due: go-fmt, go-test

Fix GORM usage and error handling issues
  internal/server/auth.go
  internal/server/handlers_api_test.go
  internal/server/handlers_device_api.go
  internal/server/handlers_user.go
  internal/server/webauthn.go
Due: go-fmt, go-test

Fix linting issues and modernize code
  internal/server/auth.go
  internal/server/handlers_user.go
  internal/server/webauthn.go
Due: go-fmt, go-test

Optimize update calls in rotation_test.go
  internal/server/rotation_test.go
Due: go-fmt, go-test

Enable GORM PrepareStmt for performance
  cmd/server/main.go
Due: go-fmt, go-test

Add GORM Prometheus metrics
  cmd/server/main.go
  go.mod
  go.sum
  internal/server/server.go
Due: go-fmt, go-mod-tidy, go-test

Consistent GORM Generics Usage
  internal/server/auth.go
  internal/server/rotation_test.go
  internal/server/webauthn.go
Due: go-fmt, go-test

Refine Select call in handleImportUserConfig
  internal/server/handlers_user.go
Due: go-fmt, go-test

Improve handleWS error handling for missing user
  internal/server/websockets.go
Due: go-fmt, go-test

refactor: adopt the GORM Generics API (#670)
  cmd/server/main.go
  go.mod
  go.sum
  internal/migration/migration.go
  internal/server/auth.go
  internal/server/firmware.go
  internal/server/handlers_api.go
  internal/server/handlers_api_test.go
  internal/server/handlers_app.go
  internal/server/handlers_device.go
  internal/server/handlers_device_api.go
  internal/server/handlers_user.go
  internal/server/helpers.go
  internal/server/middleware.go
  internal/server/rotation.go
  internal/server/rotation_test.go
  internal/server/server.go
  internal/server/webauthn.go
  internal/server/websockets.go
Due: go-fmt, go-mod-tidy, go-test

fixed hot-reload when clicking action buttons
  web/static/css/design-system.css
  web/static/js/app-card.js
  web/static/js/manager.js
Due: none

design system improvements to align better light/dark/compact/full
  web/static/css/design-system.css
Due: none

Path conditions:
  go-fmt: any of: \.go$
  go-mod-tidy: any of: go.mod|go.sum
  go-test: any of: \.go$
