Repository tronbyt/server: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-mod-tidy, go-test

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

go-mod-tidy:
  name: go mod tidy
  entry: go mod tidy
  language: system
  pass_filenames: false

go-test:
  name: go test
  entry: go test ./...
  language: system
  pass_filenames: false

feat(metrics): add application-specific Prometheus metrics
  AGENTS.md
  internal/server/handlers_device_api.go
  internal/server/metrics.go
  internal/server/metrics_test.go
  internal/server/render_utils.go
  internal/server/server.go
  internal/server/websockets.go
  rpi_setup.sh
Due: go-fmt, go-test

fix(i18n): add missing German translations and fix localhost warning
  web/i18n/de.json
  web/i18n/en.json
  web/templates/manager/firmware.html
  web/templates/manager/update.html
Due: none

docs: update AGENTS.md with accurate project guidance
  AGENTS.md
Due: none

build(deps): bump go-git to latest pre-release snapshot
  go.mod
  go.sum
Due: go-mod-tidy

chore: update devcontainer to Go 1.26 and pixlet v0.52.0
  .devcontainer/devcontainer.json
  .devcontainer/postCreateCommand.sh
Due: none

docs: update README with accurate versions, devices, and config
  README.md
Due: none

fix: stop ticker and add context cancellation in checkForUpdates
  internal/server/handlers_system.go
  internal/server/server.go
Due: go-fmt, go-test

infer app-id from installationID during push_app
  API.md
  internal/server/handlers_api.go
Due: go-fmt, go-test

infer app-id from installationID during push_app (#777)
  API.md
  internal/server/handlers_api.go
Due: go-fmt, go-test

add schedule fields to v0 PATCH installation API
  internal/server/handlers_api.go
  internal/server/handlers_api_test.go
  web/i18n/de.json
  web/i18n/en.json
  web/templates/manager/configapp.html
Due: go-fmt, go-test

add schedule and recurrence fields to AppPayload for GET responses
  internal/server/handlers_api.go
Due: go-fmt, go-test

validate days array contains only valid weekday names
  internal/server/handlers_api.go
Due: go-fmt, go-test

validate recurrenceType against supported values
  internal/server/handlers_api.go
Due: go-fmt, go-test

validate recurrenceStartDate and recurrenceEndDate are YYYY-MM-DD format
  internal/server/handlers_api.go
Due: go-fmt, go-test

Fix: generate unique numeric iname for pushed apps
  internal/server/handlers_api.go
  internal/server/handlers_api_test.go
Due: go-fmt, go-test

Update internal/server/handlers_api.go
  internal/server/handlers_api.go
Due: go-fmt, go-test

Make schedule fields accessible via API (#783)
  internal/server/handlers_api.go
  internal/server/handlers_api_test.go
  web/i18n/de.json
  web/i18n/en.json
  web/templates/manager/configapp.html
Due: go-fmt, go-test

feat(config): add LOG_FORMAT option for JSON logging support
  cmd/server/main.go
  internal/config/config.go
Due: go-fmt, go-test

refactor(cmd): add cobra cli libary
  AGENTS.md
  Dockerfile
  build.ps1
  cmd/boot/privileges_unix.go
  cmd/migrate/main.go
  cmd/server/boot/cmd.go
  cmd/server/boot/privileges_unix.go
  cmd/server/boot/privileges_windows.go
  cmd/server/cmd.go
  cmd/server/health/cmd.go
  cmd/server/main.go
  cmd/server/migrate/cmd.go
  cmd/server/resetpassword/cmd.go
  cmd/server/serve/cache.go
  cmd/server/serve/cmd.go
  cmd/server/serve/data.go
  cmd/server/serve/http.go
  go.mod
  go.sum
  internal/config/config.go
  internal/config/context.go
  internal/config/flags.go
  internal/data/database.go
Due: go-fmt, go-mod-tidy, go-test

refactor(cmd): add cobra cli libary (#789)
  AGENTS.md
  Dockerfile
  build.ps1
  cmd/boot/privileges_unix.go
  cmd/migrate/main.go
  cmd/server/boot/cmd.go
  cmd/server/boot/privileges_unix.go
  cmd/server/boot/privileges_windows.go
  cmd/server/cmd.go
  cmd/server/health/cmd.go
  cmd/server/main.go
  cmd/server/migrate/cmd.go
  cmd/server/resetpassword/cmd.go
  cmd/server/serve/cache.go
  cmd/server/serve/cmd.go
  cmd/server/serve/data.go
  cmd/server/serve/http.go
  go.mod
  go.sum
  internal/config/config.go
  internal/config/context.go
  internal/config/flags.go
  internal/data/database.go
Due: go-fmt, go-mod-tidy, go-test

feat(cmd): add `update-system-apps` command
  README.md
  cmd/server/cmd.go
  cmd/server/updatesystemapps/cmd.go
Due: go-fmt, go-test

chore(cmd): update command descriptions
  cmd/server/cmd.go
  cmd/server/health/cmd.go
  cmd/server/resetpassword/cmd.go
Due: go-fmt, go-test

fix(gitutils): fix git resource leak
  internal/gitutils/git.go
Due: go-fmt, go-test

fix(gitutils): fix git resource leak (#791)
  internal/gitutils/git.go
Due: go-fmt, go-test

fix(gitutils): fix build failures after go-git update
  internal/gitutils/git.go
Due: go-fmt, go-test

chore: improve default log formatting
  cmd/server/cmd.go
  go.mod
  go.sum
Due: go-fmt, go-mod-tidy, go-test

chore: improve default log formatting (#793)
  cmd/server/cmd.go
  go.mod
  go.sum
Due: go-fmt, go-mod-tidy, go-test

manual toggles for night and dim
  internal/data/models.go
  internal/data/models_test.go
  internal/server/handlers_api.go
  internal/server/handlers_api_test.go
  internal/server/handlers_device.go
  internal/server/handlers_device_test.go
  internal/server/night_mode.go
  internal/server/server.go
  web/static/css/addapp-simple.css
  web/static/css/base.css
  web/static/css/common.css
  web/static/css/manager.css
  web/static/css/settings-framework.css
  web/static/css/style.css
  web/static/js/manager.js
  web/templates/base.html
  web/templates/manager/addapp.html
  web/templates/manager/update.html
  web/templates/partials/app_list_grid.html
  web/templates/partials/device_card.html
  web/templates/settings/account.html
  web/templates/settings/admin.html
  web/templates/settings/content.html
Due: go-fmt, go-test

Style disabled app cards more clearly
  web/static/css/manager.css
  web/templates/partials/app_card.html
Due: none

remove log out button in single user mode
  web/templates/base.html
Due: none

some styling fixes
  internal/server/auth.go
  internal/server/handlers_user.go
  internal/server/handlers_user_test.go
  internal/server/server.go
  web/templates/manager/update.html
  web/templates/settings/account.html
  web/templates/settings/admin.html
  web/templates/settings/content.html
Due: go-fmt, go-test

add passkeys https note
  web/templates/settings/account.html
Due: none

styling adjustments
  web/static/css/settings-framework.css
  web/templates/settings/account.html
  web/templates/settings/admin.html
Due: none

Path conditions:
  go-fmt: any of: \.go$
  go-mod-tidy: any of: go.mod|go.sum
  go-test: any of: \.go$
