Repository tronbyt/server: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-mod-tidy, go-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: go-fmt
        name: go fmt
        entry: gofmt -w
        language: system
        types: [go]
      - id: go-mod-tidy
        name: go mod tidy
        entry: go mod tidy
        language: system
        files: "go.mod|go.sum"
        pass_filenames: false
      - id: go-test
        name: go test
        entry: go test ./...
        language: system
        types: [go]
        pass_filenames: false
  - repo: https://github.com/golangci/golangci-lint
    rev: v2.7.2
    hooks:
      - id: golangci-lint
  - repo: https://github.com/djlint/djLint
    rev: v1.36.4
    hooks:
      - id: djlint-reformat-golang
        files: "\\.html"
        types_or: ["html"]

fix(configapp): only auto-fill location when first adding an app
  web/templates/manager/configapp.html
Due: none

fix(configapp): address review — Clear button border + import sync
  web/templates/manager/configapp.html
Due: none

Add "Refresh options" for dynamically-fetched schema dropdowns (#831)
  cmd/server/serve/cache.go
  cmd/server/serve/cmd.go
  internal/pixletcache/cache.go
  internal/pixletcache/cache_test.go
  internal/server/handlers_app.go
  internal/server/server.go
  web/i18n/de.json
  web/i18n/en.json
  web/templates/manager/configapp.html
Due: go-fmt, go-test

Fix schema.Location: persist device location, respect blank, add Clear button (#835)
  internal/data/models.go
  web/templates/manager/configapp.html
Due: go-fmt, go-test

fix: push_app with an existing installationID now re-renders with the updated config instead of creating dupe installation (#834)
  internal/data/models.go
  internal/server/handlers_api.go
  internal/server/handlers_api_test.go
Due: go-fmt, go-test

content tab to be first shown tab when clicking on settings.
  web/templates/base.html
Due: none

content tab to be first shown tab when clicking on settings. (#841)
  web/templates/base.html
Due: none

chore(deps): update pixlet to v0.53.1
  go.mod
  go.sum
Due: go-mod-tidy

chore(deps): update pixlet to v0.53.1 (#849)
  go.mod
  go.sum
Due: go-mod-tidy

ping djlint to 1.40.8 in precommit and build.yml
  .github/workflows/build.yml
  .pre-commit-config.yaml
Due: none

the new format
  web/templates/base.html
  web/templates/manager/configapp.html
Due: none

format the rest of them.
  web/templates/manager/create.html
  web/templates/manager/firmware.html
  web/templates/manager/update.html
Due: none

pin djlint to 1.40.8 and Djlint format (#861)
  .github/workflows/build.yml
  .pre-commit-config.yaml
  web/templates/base.html
  web/templates/manager/configapp.html
  web/templates/manager/create.html
  web/templates/manager/firmware.html
  web/templates/manager/update.html
Due: none

fix: avoid govet inline warnings by using named tint.Options variables
  cmd/server/cmd.go
Due: go-fmt, go-test

fix: inline tint.NewHandler calls to satisfy govet linter
  cmd/server/cmd.go
Due: go-fmt, go-test

ci: add //nolint:govet for tint.NewHandler calls to satisfy golangci-lint
  cmd/server/cmd.go
Due: go-fmt, go-test

fix: replace deprecated tint.NewHandler with tint.NewTextHandler
  cmd/server/cmd.go
Due: go-fmt, go-test

fix(ci): remove unused //nolint:govet directives now that handlers use NewTextHandler
  cmd/server/cmd.go
Due: go-fmt, go-test

fix: inline tint.NewHandler calls to satisfy govet linter (#862)
  cmd/server/cmd.go
Due: go-fmt, go-test

fix: preserve active firmware image URL when API keys are enabled
  internal/server/handlers_device.go
Due: go-fmt, go-test

fix: preserve active firmware image URL when API keys are enabled (#863)
  internal/server/handlers_device.go
Due: go-fmt, go-test

Add HTTP firmware command headers for image URL updates and reboots.
  internal/data/models.go
  internal/data/models_test.go
  internal/server/handlers_api.go
  internal/server/handlers_api_test.go
  internal/server/handlers_device.go
  internal/server/handlers_device_api.go
  internal/server/handlers_device_api_test.go
  internal/server/helpers.go
  web/i18n/de.json
  web/i18n/en.json
  web/templates/manager/update.html
Due: go-fmt, go-test

Add HTTP firmware command headers for image URL updates and reboots. (#864)
  internal/data/models.go
  internal/data/models_test.go
  internal/server/handlers_api.go
  internal/server/handlers_api_test.go
  internal/server/handlers_device.go
  internal/server/handlers_device_api.go
  internal/server/handlers_device_api_test.go
  internal/server/helpers.go
  web/i18n/de.json
  web/i18n/en.json
  web/templates/manager/update.html
Due: go-fmt, go-test

feat: add periodic auto-refresh for per-user custom apps repos
  README.md
  internal/config/config.go
  internal/server/handlers_user.go
  internal/server/server.go
Due: go-fmt, go-test

feat: add periodic auto-refresh for per-user custom apps repos (#877)
  README.md
  internal/config/config.go
  internal/server/handlers_user.go
  internal/server/server.go
Due: go-fmt, go-test

feat: expose app config and render fields via the installations API
  API.md
  internal/server/handlers_api.go
  internal/server/handlers_api_test.go
  internal/server/helpers.go
Due: go-fmt, go-test

feat: add max repo size limit for system and user app repositories
  cmd/server/serve/cmd.go
  cmd/server/updatesystemapps/cmd.go
  internal/config/config.go
  internal/gitutils/git.go
  internal/server/handlers_system.go
  internal/server/handlers_user.go
Due: go-fmt, go-test

update env.example
  .env.example
Due: none

feat: add max repo size limit for system and user app repositories (#878)
  .env.example
  cmd/server/serve/cmd.go
  cmd/server/updatesystemapps/cmd.go
  internal/config/config.go
  internal/gitutils/git.go
  internal/server/handlers_system.go
  internal/server/handlers_user.go
Due: go-fmt, go-test

add 3 default brightness scales.
  internal/data/models.go
  internal/server/handlers_device.go
  internal/server/helpers.go
  web/templates/manager/update.html
Due: go-fmt, go-test

add settings nav menu
  web/i18n/de.json
  web/i18n/en.json
  web/templates/manager/update.html
Due: none

fix device default brightness wording.
  web/i18n/de.json
  web/i18n/en.json
  web/templates/manager/update.html
Due: none

Add brightness defaults for 3 devices, device settings layout and add nav bar. (#880)
  internal/data/models.go
  internal/server/handlers_device.go
  internal/server/helpers.go
  web/i18n/de.json
  web/i18n/en.json
  web/templates/manager/update.html
Due: go-fmt, go-test

add the warnings and nudges to add device location if not set.
  internal/data/models.go
  internal/data/models_test.go
  web/i18n/de.json
  web/i18n/en.json
  web/templates/manager/configapp.html
  web/templates/manager/create.html
  web/templates/manager/update.html
Due: go-fmt, go-test

add the warning and link to login via ip instead of localhost
  internal/server/auth.go
  internal/server/helpers.go
  internal/server/helpers_test.go
  web/i18n/de.json
  web/i18n/en.json
  web/templates/auth/login.html
Due: go-fmt, go-test

add the warning and link to login via ip instead of localhost (#882)
  internal/server/auth.go
  internal/server/helpers.go
  internal/server/helpers_test.go
  web/i18n/de.json
  web/i18n/en.json
  web/templates/auth/login.html
Due: go-fmt, go-test

add the warnings and nudges to add device location if not set. (#881)
  internal/data/models.go
  internal/data/models_test.go
  web/i18n/de.json
  web/i18n/en.json
  web/templates/manager/configapp.html
  web/templates/manager/create.html
  web/templates/manager/update.html
Due: go-fmt, go-test

Wait indefinitely for displaying ACK on WS v1+ devices.
  aigenmd/WEBSOCKET_PROTOCOL.md
  internal/server/websockets.go
Due: go-fmt, go-test

Add 10-minute safety timeout when displaying ACK is missing.
  aigenmd/WEBSOCKET_PROTOCOL.md
  internal/server/websockets.go
Due: go-fmt, go-test
